$i: 1;
@while $i <= length($heading-font-sizes) {
  h#{$i} {
    font-size: nth($heading-font-sizes, $i);
  }
  $i: $i + 1;
}

@for $i from 1 through length($colors-table-modulos){
  tr:nth-child(#{$i}){
    background-color: nth($colors-table-modulos, $i);
    @if $i == 1{
      td{
        text-align: center;
        font-size: 1.2em;
      }
    }
  }
}