//Colours
$white: rgb(255, 255, 255);
$black: #000000;
$lightblue: rgb(172, 168, 226);
$darkblue: rgb(1, 1, 129);
$green: #27c000;
$red: #ff0000;
$magenta: #ff00ff;
$aqua: #00ffa7;
$yellow: #ffd500;
$brown-grey: #736767;
$orange: #da6100;
$colors-table-modulos: $green, $red, $magenta, $aqua, $yellow, $brown-grey, $orange;

//Sizes
$v100: 100%;
$v50: 50%;
$t500: 500px;
$t250: 250px;
$heading-font-sizes: 40px, 36px, 32px, 28px, 24px, 20px;